* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;

}

body {
    background: #222;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    /* This function creates a linear gradient background that starts from one color 
    and smoothly transitions to another color, following the specified angle. */
    color: #fff;
    margin: 100px auto 0;
    /* Margin from top is 100px, left to right is auto and bottom is zero */
    border-radius: 20px;
    padding: 40px 35px;
    /* Difference between blocks */
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    /* display has many properties such as
    1)block(div,p,header,footer,section): block level elements start on a new line 
    and take up the full width available to them by default.
    2)inline(span,a,strong,em):these do not start on a new line and take up as much
     width as necessary.
    3)inline-block: these give ability to set width and height properties and have
     padding and margins.
    4)flex: flex is used to create a flex container, allowing you to use flexbox
     properties to control the layout and positioning of its child elements
     (justify-content,align-items,flex-direction,flex-wrap).
    5)grid: grid allows and provide precise control over the placement and sizing
     of elements within a grid container. 
    6)none: hides the elemnt from the layout. this is used for temporary hiding
     elemnts or dynamically showing hidden elemnts in javascript. */
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    /* convert all flex-grow,flex-shrink,flex-basis to 1 */
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    /* Makes it a circle */
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;

}

.weather h1 {
    font-size: 80px;
    font-weight: 500;

}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;

}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 28px;
    margin-top: -6px;

}